@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply transition-all;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: bold;
}

.container {
    width: 920px;
    margin: 0 auto;
}

h3 {
    @apply text-base text-white
}

.total {
    @apply flex justify-between items-center
}

p.secondary {
    @apply text-[13px] text-heading
}

p.total__sum {
    @apply text-[40px] lg:text-[48px] text-primary
}

input, input[type=submit], button[type=submit] {
    @apply bg-input-bg p-2 rounded-md
}

input#bill, input#people {
    @apply pr-4
}

input.btn, button[type=submit] {
    @apply bg-primary text-dark uppercase py-3 text-xl mt-10 md:mt-32 opacity-40 cursor-not-allowed
}

div.tip__option {
    @apply bg-dark p-2 rounded-md text-white w-[31%] text-center
}

input.btn.active, div.tip__option, button[type=submit].active {
    @apply opacity-100 hover:bg-active cursor-pointer transition-all hover:text-dark
}

div.tip__option.active {
    @apply bg-primary text-dark
}

.input-wrapper {
    @apply flex flex-col
}

label {
    @apply text-[16px] text-grey-txt mb-2
}

input#tip {
    @apply w-[31%]
}

input:focus {
    outline: 2px solid #26C2AD;
}

input#bill::placeholder, input#people::placeholder {
    @apply text-[#9EBBBD] 
}

input#tip::placeholder {
    @apply text-xl text-heading text-center
}

input[type=number] {
    @apply text-right text-dark
}

.bill-after {
    @apply relative
}

.bill-after:after {
    @apply absolute left-1.5 bottom-1.5 h-10 w-10 scale-110;
    content: "";
    background: url("img/icon-dollar.svg") no-repeat center center;
}

.people-after {
    @apply relative
}

.people-after:after {
    @apply absolute left-1.5 bottom-1.5 h-10 w-10 scale-110;
    content: "";
    background: url("img/icon-person.svg") no-repeat center center;
}

input.error {
    outline: 2px solid #B57B6D;
}

.error-message {
    @apply text-[16px] text-error
}


/* hiding arrows in number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}